<h4><%=eventsH%></h4>

<poster>
<a href="https://www.facebook.com/event.php?eid=203378493031813" target="_blank">
<img src="https://lh3.googleusercontent.com/-MPouyaXIRXg/TeE6BZd02JI/AAAAAAAAAI4/RSJHc3EMNEw/s800/The%252520Ladle%252520Poster.jpg" 
height="800" width="623" alt="DigaRitmo Live at "The Ladle" in Greyton!" />
</a>

</poster>
