<h3><%=feedsH%></h3>

<fb>
	<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1">
	</script><fb:like-box href="http://www.facebook.com/digaritmo" width="350" 
	show_faces="true" stream="true" header="true"></fb:like-box>
</fb>	

<tw>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 20,
  interval: 6000,
  width: 350,
  height: 500,
  theme: {
	shell: {
	  background: '#0072bc',
	  color: '#ffffff'
	},
	tweets: {
	  background: '#ffffff',
	  color: '#303030',
	  links: '#0072bc'
	}
  },
  features: {
	scrollbar: true,
	loop: false,
	live: false,
	hashtags: true,
	timestamp: true,
	avatars: true,
	behavior: 'all'
  }
}).render().setUser('digaritmo').start();
</script>
</tw>

<br clear="all" />