<h4><%=welcome%></h4>

<smr>

Welcome to DigaRitmo guitar duo's website. 
We hope you enjoy the content ! <br><br>
You should find what your looking for here, if 
you don't please leave a comment and we'll find it for you. <br><br> &nbsp

</smr>

<ph2>
<embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
width="350" height="450" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fdigaritmo%2Falbumid%2F5611548676464110433%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCPnM2_mn35PZLA%26hl%3Den_US"
pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</ph2>

<comments>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1">
</script><fb:comments href="digaritmo.com" num_posts="5" width="345" 
colorscheme="dark"></fb:comments>
</comments>

<br clear="all" />