<h2><%=photosH%></h2>

<smr>
Walking around in Stellenbosch:<br><br>&nbsp
</smr>
<ph>
 <embed type="application/x-shockwave-flash"
 src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
 width="750" height="500" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fdigaritmo%2Falbumid%2F5611548676464110433%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCPnM2_mn35PZLA%26hl%3Den_US" 
 pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</ph>

<smr><br><br>
Yamaha Young Talent Finals:<br><br>&nbsp
</smr>
<ph>
 <embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
 width="750" height="500" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F110544630515312323741%2Falbumid%2F5611547776704596753%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCIuArfDE3o22Rg%26hl%3Den_US" 
 pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</ph>

<smr><br><br>
KKNK 2011:<br><br>&nbsp
</smr>
<ph>
<embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
width="750" height="500" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fdigaritmo%2Falbumid%2F5611551750361917009%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCN2at4flxvzn0AE%26hl%3Den_US" 
pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</ph>

<smr><br><br>
Chatting with Corne from CH2:<br><br>&nbsp
</smr>
<ph>
 <embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
 width="750" height="500" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fdigaritmo%2Falbumid%2F5611549921912064465%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCKXIt_7Iv7fMrQE%26hl%3Den_US" 
 pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</ph>