<h2><%=videosH%></h2>

<smr>
DigaRitmo performing Awaken at the KKNK:<br><br>&nbsp
</smr>
<yt>
<iframe width="750" height="457" 
src="http://www.youtube.com/embed/8yGtX6fupqI" frameborder="0" 
allowfullscreen></iframe>
</yt>

<smr>
<br><br>
DigaRitmo performing Cancion del Mariachi at the KKNK:<br><br>&nbsp
</smr>
<yt>
<iframe width="750" height="457" 
src="http://www.youtube.com/embed/aUIheiHqb5M" frameborder="0" 
allowfullscreen></iframe>
</yt>

<smr>
<br><br>
DigaRitmo at La Dolce Vita after the KKNK:<br><br>&nbsp
</smr>
<yt>
<iframe width="750" height="457" 
src="http://www.youtube.com/embed/P6gMX_3rSh4" frameborder="0" 
allowfullscreen></iframe>
</yt>

<smr>
<br><br>
DigaRitmo performing Gypsy Dusk at the KKNK:<br><br>&nbsp
</smr>
<yt>
<iframe width="750" height="457" 
src="http://www.youtube.com/embed/-XNwCOXxX40" frameborder="0" 
allowfullscreen></iframe>
</yt>

<smr>
<br><br>
DigaRitmo performing Shameless Pain at the KKNK:<br><br>&nbsp
</smr>
<yt>
<iframe width="750" height="457" 
src="http://www.youtube.com/embed/NLqscb-m5IU" frameborder="0" 
allowfullscreen></iframe>
</yt>

<smr>
<br><br>
DigaRitmo performing Midday Stars at the KKNK:<br><br>&nbsp
</smr>
<yt>
<iframe width="750" height="457" 
src="http://www.youtube.com/embed/Fmh2QaCIYkE" frameborder="0" 
allowfullscreen></iframe>
</yt>


